body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f7f7f7;
}

.user {
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 6px;
}

.user p {
  margin: 5px 0;
  font-size: 16px;
}
